.content {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-colour-1),
    var(--bg-colour-2),
    var(--bg-colour-1)
  );
  position: relative;
  z-index: 10;
  padding: 2rem;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.corners {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.tr,
.tl {
  height: 320px;
  width: 320px;
  position: absolute;
  mix-blend-mode: multiply;
  filter: blur(24px);
  opacity: 20%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: calc(infinity * 1px);
}

.tr {
  top: -160px;
  right: -160px;
  background-color: var(--bg-corner-1);
}

.tl {
  bottom: -160px;
  left: -160px;
  background-color: var(--bg-corner-2);
  animation-delay: 2000ms;
}
