.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000067;
  backdrop-filter: blur(10px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 300px; */
  height: 300px;
  width: 90%;
  background-color: var(--bg-colour-1);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--purple-500);
  border-radius: 0.5rem;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.username,
.token {
  flex-direction: column;
  width: 100%;
}

.username label,
.token label {
  font-size: 0.875rem;
}

.username input,
.token input {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-400);
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.submit,
.cancel {
  border-radius: 0.5rem;
  border: 1px solid var(--grey-400);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 10px;
}

.submit {
  background-color: var(--green-500);
  color: var(--grey-600);
}

.submit:hover {
  background-color: var(--green-600);
}

.cancel {
  background-color: var(--red-500);
}

.cancel:hover {
  background-color: var(--red-700);
}

@media screen and (min-width: 768px) {
  .modal {
    width: auto;
  }
}
