.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column_left {
  display: flex;
  flex-direction: column;
}

.column_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.h1 {
  font-weight: 700;
}

.h2 {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--grey-300);
  line-height: 1.4;
}

p {
  font-size: 0.875rem;
  color: var(--grey-400);
  line-height: 1.4;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
