@import "./reset.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --bg-colour-1: #0f172b;
  --bg-colour-2: #59168b;
  --bg-corner-1: #ad46ff;

  --grey-300: oklch(0.872 0.01 258.338);
  --grey-400: oklch(0.707 0.022 261.325);

  /* BREAKPOINTS */
  --breakpoint-mobile: 420px;
  --breakpoint-tablet: 768px;
}

#root {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-colour-1),
    var(--bg-colour-2),
    var(--bg-colour-1)
  );
  position: relative;
  z-index: 10;
  padding: 2rem;
}
