@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.corners {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  mix-blend-mode: multiply;
}

.tr,
.tl {
  height: 320px;
  width: 320px;
  position: absolute;
  
  filter: blur(24px);
  opacity: 20%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: calc(infinity * 1px);
}

.tr {
  top: -160px;
  right: -160px;
  background-color: var(--bg-corner-1);
}

.tl {
  bottom: -160px;
  left: -160px;
  background-color: var(--bg-corner-1);
  animation-delay: 2000ms;
}
